<nav>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a href="/criptoNews">
          <img src="images/logo-site.png" alt="Logo site" class="navbar-logo-site">
        </a>
      </div>
      <div class="col-2 d-none d-md-block">
        <a href="/" class="menu-item active ">
          Все новости
        </a>
      </div>
      <div class="col-3 col-xl-2 d-none d-md-block">
        <a href="./traders-blog.html" class="menu-item">
          Трейдерский блог
        </a>
      </div>
      <div class="col-2 d-none d-md-block">
        <a href="./ads.html" class="menu-item">
          Реклама и Контакты
        </a>
      </div>



<!--      mobile menu -->
      <div class="col-8 d-flex justify-content-center justify-content-md-end align-items-center d-md-none">
        <span id="mobile-menu" class="menu-item">
          <i class="fa-solid fa-bars fs40"></i>
        </span>
      </div>
<!--      mobile menu -->

      <div class="col-2 col-md-2 d">
        <a href="/" class="menu-item tg justify-content-center text-transform-uppercase fw-bold">
          <i class="fa-brands fa-telegram fs40 me-2"></i>
          <span class="d-none d-md-inline-block">
            Наш тг
          </span>
        </a>
      </div>



    </div>
  </div>
</nav>



<div class="mobile-menu" id="mobile-menu-block">
  <div class="mobile-menu-item mt-50 active">
    <a href="#">
      Все новости
    </a>
  </div>
  <div class="mobile-menu-item">
    <a href="#">
      Трейдерский блог
    </a>
  </div>
  <div class="mobile-menu-item">
    <a href="#">
      Реклама и Контакты
    </a>
  </div>
</div>